{% extends 'core/base.html' %}
{% block content %}
    <div class="containers">
        <h5>Hey I'm Shani!</h5>
        <p>One of my favorite hobbies is food!!! </p>
        <p>I've found that for most of the time, we compromise and eat the same dish over and over again.</p>
        <p>So I decided to share with you my hobby that I love and show the best and delicious places I discover in a fun
            way.</p>
        <p>I hope you will enjoy,</p>
        <p>with love and joy,</p>
        <p>Shani 🤍</p>

    </div>
{% endblock %}