{% extends 'core/base.html' %}

{% block content %}
    <div class="challengePage">
        <div class="containers">
            <h2>{{ object.name }}</h2>
            <p>Difficulty: {{ object.get_level_display }}</p>
            <p class="description">{{ object.description }}</p>
            {% if user.is_authenticated %}
                {% if not in_challenge %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="START">
                    </form>
                {% else %}
                    <p>you already in challenge</p>
                {% endif %}
            {% else %}
                <a>If you want to start the challenge please click on</a>
                <a class="btn btn-login" href="{% url 'login' %}">LOGIN</a><a> if you are not registered click on</a>
                <a class="btn btn-signup " href="{% url 'client_create' %}">SIGNUP </a>
            {% endif %}
        </div>
    </div>
{% endblock %}