* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background: #c6aca0;
}

.navbar-light .navbar-brand {
    color: #591202;
}

.navbar-light .nav-item .nav-link {
    color: #331f14;
}

.containers {
    min-height: calc(100vh - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-family: 'Zilla Slab', serif;
    color: #591202;

}

.form-control {
    background: #e0dede;
}

.btn-home {
    margin-bottom: 0.5rem;
    background: #591202;
    border: #591202;
    color: #e0dede;
}

.btn-home:hover {
    opacity: 0.8;
    background: #e0dede;
    color: #591202;
}

.kill-margin {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
}


.card {
    padding: 0;
    background: #e0dede;
    margin: 0 1rem 15px 1rem;
}

.card-title {
    color: #cd8965;
}

.card-text {
    color: #331f14;
}

.card-link {
    color: #591202;
}

.description {
    width: 50vw;
}

.card:hover {
    box-shadow: 5px 5px #cd8965;

}

@media only screen and(max-width: 576px) {
    .row .kill-margin {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .row .card .col-sm-12 .col-md-6 .col-lg-4 {
        /*margin-bottom: 15px;*/
        /*margin-left: 10px;*/
        margin-right: 10px;
    }

}

/*@media only screen and (max-width: 576px) {*/
/*    .card-deck {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        width: 100vw;*/
/*    }*/
/*    .card-deck .card{*/
/*    margin-bottom: 15px;*/
/*}*/
/*}*/
/*@media only screen and (max-width: 768px) {*/
/*    .card-deck {*/
/*        display: flex;*/
/*        font-size: 20rem;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: row;*/
/*    }*/
/*}*/

