* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background: #c6aca0;
}

.navbar-light .navbar-brand {
    color: #591202;
}

.navbar-light .nav-item .nav-link {
    color: #331f14;
}

.homePage {

}

.containers {
    min-height: calc(100vh - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-family: 'Zilla Slab', serif;
    color: #591202;

}


.btn-home {
    margin-bottom: 0.5rem;
    background: #591202;
    border: #591202;
    color: #e0dede;
}

.btn-home:hover {
    opacity: 0.8;
    background: #e0dede;
    color: #591202;
}

.kill-margin {
    margin-right: 0;
    margin-left: 0;
}

.col-sm {
    border: #331f14 solid 1px;
    padding: 0;
    background: #e0dede;

}

.card {

}

.card-title {
    color: #cd8965;
}

.card-text {
    color: #331f14;
}

.card-link {
    color: #591202;
}

.description {
    width: 50vw;
}
